@model IPSAInventario.ViewModels.PerifericosFormViewModel
@{
    ViewBag.Title = "PerifericosForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PerifericosForm</h2>
@using (Html.BeginForm("Save", "perifericos", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Marca)
        @Html.TextBoxFor(m => m.Marca, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Marca)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Modelo)
        @Html.TextBoxFor(m => m.Modelo, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Modelo)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NoSerie)
        @Html.TextBoxFor(m => m.NoSerie, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NoSerie)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Revisado) Revisado
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Disponibilidad) Disponibilidad
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Check_) Check
        </label>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Baja)
        @Html.TextBoxFor(m => m.Baja, "{0:dd/MM/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Baja)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Aplicacion)
        @Html.TextBoxFor(m => m.Aplicacion, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Aplicacion)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Expediente)
        @Html.TextAreaFor(m => m.Expediente, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Expediente)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Comentario)
        @Html.TextAreaFor(m => m.Comentario, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Comentario)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Tipo_Periferico)
        @Html.DropDownListFor(m => m.Tipo_Periferico,
            new SelectList(
                  new List<Object>{
                       new { value = "Monitor" , text = "Monitor"  },
                       new { value = "Auxiliar" , text = "Auxiliar" },
                       new { value = "Impresora" , text = "Impresora"}
                    },
                  "value",
                  "text"
            ), "Selecciona T.periferico", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Tipo_Periferico)
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    @Html.AntiForgeryToken()
}
