@model IPSAInventario.ViewModels.FacturaFormViewModel
@{
    ViewBag.Title = "NewFactura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Factura</h2>
<!--Crea un nuevo formulario con para crear nuevas facturas-->
@using (Html.BeginForm("Save", "Factura", FormMethod.Post, new {enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.HiddenFor(m => m.IDFactura)
        <label style="font-size:2rem;">IDFactura</label>
        <br />
        @if (Model.IDFactura == 0)
        {
            @Html.Label((Model.lastID + 1) + "", new { style = "padding-left:3rem;font-size:2rem;" })
        }
        else
        {
            @Html.Label(Model.IDFactura + "", new { style = "padding-left:3rem;font-size:2rem;" })
        }

    </div>
    <div class="form-group">
        <!--Se referencia al modelo-->
        @Html.LabelFor(m => m.Vendedor)
        <!--Se liga el objeto en vista al modelo-->
        @Html.TextBoxFor(m => m.Vendedor, new { @class = "form-control" })
        <!--Se validan los requisitos del modelo-->
        @Html.ValidationMessageFor(m => m.Vendedor)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IDProveedor)
        @Html.DropDownListFor(m => m.IDProveedor, new SelectList(Model.Proveedores, "IDProveedor", "Name"), "Selecciona proveedor", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IDProveedor)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Fecha_Compra)
        @Html.TextBoxFor(m => m.Fecha_Compra, "{0:dd/MM/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Fecha_Compra)
    </div>
    <div class="form-group">
        <!--Se referencia al modelo-->
        @Html.LabelFor(m => m.facturaPath)
        <!--Se liga el objeto en vista al modelo-->
        <!--Usa la variable deshabilitar para el boton donde subes archivos-->
        @if (Model.deshabilitar)
        {
            @Html.TextBoxFor(m => m.facturaPath, new { type = "file", accept = ".pdf", @class = "btn btn-default", disabled = "" })
        }
        else
        {
            @Html.TextBoxFor(m => m.facturaPath, new { type = "file", accept = ".pdf", @class = "btn btn-default", enabled = "" , required = ""})
        }
        <!--Se validan los requisitos del modelo-->
        @Html.ValidationMessageFor(m => m.facturaPath)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.requisicionPath)
        @if (Model.deshabilitar)
        {
            @Html.TextBoxFor(m => m.requisicionPath, new { type = "file", accept = ".pdf", @class = "btn btn-default", disabled = "" })
        }
        else
        {
            @Html.TextBoxFor(m => m.requisicionPath, new { type = "file", accept = ".pdf", @class = "btn btn-default", enabled = "", required = "" })
        }
        @Html.ValidationMessageFor(m => m.requisicionPath)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Descripcion)
        @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Descripcion)
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <!--Crea un token volatil para la solicitud POST a la base de datos, para seguridad en el uso indebido de la secion-->
    @Html.AntiForgeryToken()

}

<!-- Renderiza los scrips dentro del cliente mejorando la validacion
    pero solo es utilizado para validaciones estandarizadas, no personalizadas
section scripts
{
    Scripts.Render("~/bundles/jqueryval")
}
-->

