@model IPSAInventario.ViewModels.FacturaFormViewModel
@{
    ViewBag.Title = "NewFactura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nueva Factura</h2>
<!--Crea un nuevo formulario con para crear nuevas facturas-->
@using (Html.BeginForm("Save", "Factura"))
{
    <div class="form-group">
        @Html.HiddenFor(m => m.Factura.IDFactura)
        <label style="font-size:2rem;">IDFactura</label>
        <br />
        @if (Model.Factura == null || Model.Factura.IDFactura == 0)
        {
            @Html.Label((Model.lastID + 1) + "", new { style = "padding-left:3rem;font-size:2rem;" })
        }
        else
        {
            @Html.Label(Model.Factura.IDFactura + "", new { style = "padding-left:3rem;font-size:2rem;" })
        }

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Factura.Vendedor)
        @Html.TextBoxFor(m => m.Factura.Vendedor, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Factura.Vendedor)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Factura.IDProveedor)
        @Html.DropDownListFor(m => m.Factura.IDProveedor, new SelectList(Model.Proveedores, "IDProveedor", "Name"), "Selecciona proveedor", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Factura.IDProveedor)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Factura.Factura1)
        <button type="submit" class="btn btn-default">SUBIR</button>
        @Html.ValidationMessageFor(m => m.Factura.Factura1)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Factura.Requisicion)
        <button type="submit" class="btn btn-default">SUBIR</button>
        @Html.ValidationMessageFor(m => m.Factura.Requisicion)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Factura.Fecha_Compra)
        @Html.TextBoxFor(m => m.Factura.Fecha_Compra, "{0:dd/MM/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Factura.Fecha_Compra)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Factura.Descripcion)
        @Html.TextAreaFor(m => m.Factura.Descripcion, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Factura.Descripcion)
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <!--Crea un token volatil para la solicitud POST a la base de datos, para seguridad en el uso indebido de la secion-->
    @Html.AntiForgeryToken()

}
<!-- Renderiza los scrips dentro del cliente mejorando la validacion
    pero solo es utilizado para validaciones estandarizadas, no personalizadas
section scripts
{
    Scripts.Render("~/bundles/jqueryval")
}
-->

