@model IPSAInventario.ViewModels.FacturaFormViewModel
@{
    ViewBag.Title = "NewFactura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nueva Factura</h2>
@using (Html.BeginForm("Create", "Factura"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Factura.Proveedor)
        @Html.DropDownListFor(m => m.Factura.Proveedor, new SelectList(Model.Provedores),"Selecciona proveedor", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Factura.Vendedor)
        @Html.TextBoxFor(m => m.Factura.Vendedor, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Factura.Factura1)
        <button type="submit" class="btn btn-default">SUBIR</button> 
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Factura.Requisicion)
        <button type="submit" class="btn btn-default">SUBIR</button>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Factura.Fecha_Compra)
        @Html.TextBoxFor(m => m.Factura.Fecha_Compra, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Factura.Descripcion)
        @Html.TextAreaFor(m => m.Factura.Descripcion, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>

}


