@model IEnumerable<IPSAInventario.Factura>

@{
    ViewBag.Title = "Factura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Facturas</h2>
<!--Verifica si la base de datos contiene o no Facturas-->
    @if (!Model.Any())
    {
        <p>No se tiene ninguna factura agregada en la base de datos</p>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>IDFactura</th>
                    <th>Proveedor</th>
                    <th>Vendedor</th>
                    <th>Factura</th>
                    <th>Fecha de compra</th>
                    <th>Requisicion</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                <!--Recorre la lista de facturas de la base de datos para plasmarla en un formulario-->
                @foreach (var factura in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(factura.IDFactura + "", "Edit", "Factura", new { id = factura.IDFactura }) </td>
                        <td>@factura.Proveedor</td>
                        <td>@factura.Vendedor</td>
                        <td>Factura</td>
                        <td>@factura.Fecha_Compra</td>
                        <td>Requisicion</td>
                        <!--Consulta la tabla Factura_Detalle_Comp para conseguir sus codigos de PC y colocarlos en la descripcion-->
                        @{var todoCodigo = "";}
                        @foreach (var Codigopc in factura.Factura_Detalle_Comp)
                        {
                                todoCodigo += Codigopc.Codigo_PC + "\n";
                        }
                        <td>@todoCodigo @factura.Descripcion</td>

                    </tr>
                }
            </tbody>
        </table>
    }

