@model IEnumerable<IPSAInventario.Models.Factura>

@{
    ViewBag.Title = "Factura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Facturas</h2>
<!--Verifica si la base de datos contiene o no Facturas-->
    @if (!Model.Any())
    {
        <p>No se tiene ninguna factura agregada en la base de datos</p>
    }
    else
    {
        <table class="table table-bordered table-hover" id="facturas">
            <thead>
                <tr>
                    <th>IDFactura</th>
                    <th>Proveedor</th>
                    <th>Vendedor</th>
                    <th>Factura</th>
                    <th>Fecha de compra</th>
                    <th>Requisicion</th>
                    <th>Descripcion</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <!--Recorre la lista de facturas de la base de datos para plasmarla en un formulario-->
                @foreach (var factura in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(factura.IDFactura + "", "Edit", "Factura", new { id = factura.IDFactura }, null) </td>
                        <td>@factura.Proveedores.Name</td>
                        <td>@factura.Vendedor</td>
                        <td>Factura</td>
                        <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", @factura.Fecha_Compra))</td>
                        <td>Requisicion</td>
                        <!--Consulta la tabla Factura_Detalle_Comp para conseguir sus codigos de PC y colocarlos en la descripcion-->
                        @{var todoCodigo = "";}
                        @foreach (var Codigopc in factura.Factura_Detalle_Comp)
                        {
                            todoCodigo += Codigopc.Codigo_PC + "\n";
                        }
                        @foreach (var IDperiferico in factura.Factura_Detalle_Per)
                        {
                            todoCodigo += IDperiferico.IDPeriferico + "\n";
                        }
                        @foreach (var IDsoft in factura.Factura_Detalle_Soft)
                        {
                            todoCodigo += IDsoft.IDSoftware + "\n";
                        }
                        <td>@todoCodigo @factura.Descripcion</td>
                        <td><button data-factura-id="@factura.IDFactura" class="btn-link js-delete">Eliminar</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }

@section scripts
{
    <!--Se agrega la funcionalidad del boton eliminar-->
    <script>
        $(document).ready(function () {
            //Estilo de tabla actualizado
            $("#facturas").DataTable();

            $("#facturas").on("click",".js-delete", function () {
                var button = $(this);//Hace referencia al DOM Body del html
                //Crea un bootbox y hace la confirmacion
                bootbox.confirm("¿Seguro quieres eliminar esta Factura?", function (result) {
                    if (result) {
                        //Elimina la factura con la api y elimina el renglon en el html
                        $.ajax({
                            url: "/api/factura/" + button.attr("data-factura-id"),
                            method: "DELETE",
                            success: function () {
                                button.parent(tr).remove();
                            }
                        });
                    }
                })
            }) 
        });
    </script>
}

